<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/pages.css')}}">
    <title>TigerFriend | About</title>
</head>

<body style="background-color:rgb(243, 237, 237); font-family:Playfair Display">

<nav class="myNav">                     
    <ul>
        <li style="float:left"><b>TigerFriend</b></li>
        <li><a href="/survey">Login</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<div class="sidebar">
    <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" 
    class="image2"/>
</div>

<div class="rightsidebar">
    <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" 
    class="image"/>
</div>

<div style= "padding-top: 10vh; padding-left: 5vh; padding-right: 5vh; text-align: center;">
    <h1 style="font-size:3vw; color:black; margin:10px;">About the App</h1>
    <p style="font-size:1.2vw; color:black;">TigerFriend is a web app that anonymously connects Princeton students all throughout campus over <br> their shared interests and activities. </p>
    <p style="font-size:1.2vw; color:black;">Users sign up on the platform and fill out a questionnaire to get matched with other users based on <br> similar responses in different 
        categories. From there, users have free reign to message their matches through a <br> built-in chat system that guarantees their anonymity.</p>
</div>

<div style= "padding-top: 2vh; text-align: center;">
    <hr style="width:65%;">
    <h1 style="font-size:3vw; color:black; margin:10px;">Meet the Team</h1>
</div>

</body>
</html>