<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/chat.css')}}">
        <title>TigerFriend | Chat</title>
    </head>

    <body>
        <br>
        {% for chat in open_chats: %} 
            <ul>
                <a href="chat?receiver={{chat[1]}}">
                    <li>
                    <div>
                        {% if chat[2] %}
                        <h2>{{chat[1]}}</h2>
                        <h3 style="color: blue;">Say something!</h3>
                        {% elif chat[3] %}
                        <h2>{{chat[1]}}</h2>
                        <h3 style="color: red;">Unread Messages!</h3>
                        {% else %}
                        <h2>{{chat[1]}}</h2>
                        {% endif %}
                    </div>
                    </li>
                </a>
            </ul>
        {% endfor %}
    </body>
</html>