<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/chat.css')}}">
        <title>TigerFriend | Chat</title>
    </head>

    <body>
        <br>
        <ul>
            {% for chat in open_chats: %} 
            <li>
                <div>
                    <a href="chat?receiver={{chat[1]}}">
                        {% if chat[2] %}
                        <h2>{{chat[1]}}</h2>
                        <h3 style="color: blue; font-size: 1vw;">Say something!</h3>
                        {% elif chat[3] %}
                        <h2>{{chat[1]}}</h2>
                        <h3 style="color: red; font-size: 1vw;">Unread Messages!</h3>
                        {% else %}
                        <h2>{{chat[1]}}</h2>
                        {% endif %}
                    </a>  
                </div>
            </li>
                
            {% endfor %}
        </ul>
    </body>
</html>