<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/chat.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/popup.css')}}">
    <title>TigerFriend | Chat</title>
</head>

<body style="background-color:rgb(243, 237, 237); font-family:Playfair Display">

    {% include 'navbar.html' %}

    <div class="sidebar">
        <br>
        <a href="/surveydetails">Survey</a>
        <a href="/matches">Matches</a>
        <a class="active" href="/allChats">Chat</a>
        <a href="/accountdetails">Account</a> {% if isAdmin %}
        <a href="/admin">Admin</a> {% endif %}
    </div>

    <div class="rightsidebar">
        <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" class="image" width="150" height="150" />
    </div>

    <div style="height:180px; padding-top: 45px; text-align: center;">
        <div id="container">
            <aside>
                <header>
                    <h3>Your Chats</h3>
                </header>
                <div id="allChats" class="container-fluid" style="width: 100%;"></div>
            </aside>
            <main>
                <header>
                    <div>
                        <h2 id="reported">{{receiver}} <button onclick="openReport()">Report User</button></h2>
                        <h3>{{bio_receiver}}</h3>

                        <div class="form-popup" id="myReport">
                            <form action="/action_page.php" class="form-container">
                                <h1>Report this user</h1>

                                <input id="report" type="text" placeholder="Why are you reporting this user?" name="complaints" required>

                                <button type="submit" class="btn">Submit Report</button>
                                <button type="button" class="btn cancel" onclick="closeReport()">Go back</button>
                            </form>
                        </div>
                    </div>
                </header>

                <ul id="chat">
                    <div id="messages"></div>
                </ul>
                <footer>
                    <textarea id="chatSent" name="message" placeholder="Type a message"></textarea>
                    <a id="userSentChat" href="#">Send</a>
                    <br>
                </footer>

            </main>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        'use strict';

        function openReport() {
            document.getElementById("myReport").style.display = "block";
        }

        function closeReport() {
            document.getElementById("myReport").style.display = "none";
        }

        let request1 = null

        function reporting() {
            let reported = document.getElementById("reported").innerHTML;
            reported = encodeURIComponent(reported);
            let report = $('#report').val();
            report = encodeURIComponent(report);
            let url = '/matches?reporteduser=' + reported + '&reportmsg' + report;
            $("#report").val('');

            if (request != null)
                request.abort();

            request = $.ajax({
                type: 'GET',
                url: url,
                success: closeReport
            });
        }

        function handleResponse(response) {
            $('#allChats').html(response);
        }

        let request = null

        function getChats() {
            let url = '/getChats'

            if (request != null)
                request.abort();

            request = $.ajax({
                type: 'GET',
                url: url,
                success: handleResponse
            });
        }

        function handleResponse2(response2) {
            $('#messages').html(response2);
        }

        let request2 = null

        function getMessages() {
            let url = '/getmessages'

            if (request2 != null)
                request2.abort();

            request2 = $.ajax({
                type: 'GET',
                url: url,
                success: handleResponse2
            });
        }

        function sendMessage() {
            let messageSent = $('#chatSent').val();
            messageSent = encodeURIComponent(messageSent)
            let url = '/sendchat?message=' + messageSent;
            $("#chatSent").val('');

            if (request != null)
                request.abort();

            request = $.ajax({
                type: 'GET',
                url: url,
                success: handleResponse2
            });
        }

        let alternator = false;

        function update() {
            alternator = !alternator
            if (alternator) {
                getMessages();
            } else {
                getChats();
            }
        }

        function setup() {
            getChats();
            getMessages();
            window.setInterval(update, 3700);
            $('#userSentChat').click(sendMessage);
            $('#chatSent').keypress(function(e) {
                if (e.which == 13) // the enter key code
                {
                    e.preventDefault();
                    sendMessage();
                }
            });
        }

        $('document').ready(setup);
    </script>

</body>

</html>