<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/pages.css')}}">
</head>

<body style="background-color:rgb(243, 237, 237); font-family:Playfair Display">

<nav class="myNav">                     
    <ul>
        <li style="float:left"><a href="">TigerFriend</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<!-- The sidebar -->
<div class="sidebar">
    <a></a>
    <a href="/data">Survey</a> <!-- return back to \survey later!-->
    <a href="/matches">Matches</a>
    <a class="active" href="/chat">Chat</a>
</div>

<div class="rightsidebar">
    <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" 
    class="image" width="150" height="150"/>
</div>

</body>
</html>