<html>

<body style="background-color:orange;">

    <form action="data" method="get">
        <table>
            <tr>
                <td align="right">Netid:</td>
                <td><input type="text" name="net_id" value={{net_id}}></td>
            </tr>
            <tr>
                <td align="right">Class Year:</td>
                <td><input type="text" name="class_year" value={{class_year}}></td>
            </tr>
            <tr>
                <td align="right">Residential College:</td>
                <td><input type="text" name="res_college" value={{res_college}}></td>
            </tr>
            <tr>
                <td align="right">Major:</td>
                <td><input type="text" name="major" value={{major}}></td>
            </tr>
            <tr>
                <td align="right">Bio:</td>
                <td><textarea rows="4" cols="50" name="bio" value={{bio}}></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

    <div>
        <a></a>
        <a href="/matches">See matches!</a>
    </div>

    <div>
        <a></a>
        <a href="/survey">Survey</a>
    </div>

</body>

</html>