<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='styles/home.css')}}">
</head>

<body style="background-color:orange; font-family:Playfair Display">

<nav class="myNav">                     
    <ul>
        <li style="float:left"><a href="/">TigerFriend</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</nav>

<div style= "padding-top: 20vh; text-align: center;">
    <h1 style="font-size:7vw; color:black; margin:10px;">TigerFriend</h1>
    <p style="font-size:3vw; color: black;"><em>Match, Connect, and Chat <br> Anonymously</em></p>
    <a href="/data"><button class="button button1">Get Started</button></a> <!-- return back to \survey later!-->
</div>

<div>
    <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" 
    class="image"/>
</div>

<div>
    <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" 
    class="image2"/>
</div>

<footer style="font-family:Playfair Display">
    <p>Made By: collado@    cp30@   hishimwe@   lpang@  nbelova@</p>
</footer>

</body>
</html>