<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/pages.css')}}">
    <title>TigerFriend | About</title>
</head>

<body style="background-color:rgb(243, 237, 237); font-family:Playfair Display">

    {% include 'navbar.html' %}

    <div class="sidebar">
        <br>
        <a href="/surveydetails">Survey</a>
        <a href="/matches">Matches</a>
        <a class="active" href="/allChats">Chat</a>
        <a href="/stats">Stats</a>
        <a href="/accountdetails">Account</a> {% if isAdmin %}
        <a href="/admin">Admin</a> {% endif %}
    </div>

    <div class="rightsidebar">
        <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" class="image" />
    </div>

    <div style="padding-top: 10vh; padding-left: 20vw; padding-right: 20vw; text-align: center;">
        <p style="font-size:50px; color:black;">Successfully reported <strong>{{reported}}</strong></p>
        <p style="color:red;"><strong>{{error_msg}}</strong></p>
    </div>

</body>

</html>