<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/pages.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="import" href="/path/to/template.html">
    <title>TigerFriend | Report</title>
</head>

<body style="background-color:rgb(243, 237, 237); font-family:Playfair Display"></body>>

    {% include 'navbar.html' %}

    <div class="sidebar">
        <br>
        <a href="/surveydetails">Survey</a>
        <a href="/matches">Matches</a>
        <a href="/allChats">Chat</a>
        <a href="/accountdetails">Account</a>
        <a class="active" href="/admin">Admin</a>
    </div>

    <div class="rightsidebar">
        <img src="https://i.pinimg.com/originals/f9/c2/66/f9c26616722f0b5ae43b87acc3a5ee1d.png" class="image" width="150" height="150" />
    </div>

    <div style="height:auto; padding-top: 70px; text-align: center;">
        <h1 style="font-size:50px; color:black; margin:10px;">Report:</h1>
    </div>

    <div style="height:auto; padding-top: 15px; text-align: center;">
        <form action="/action_page.php">
            <p>Please input an action for the <strong>reported</strong> User:</p>
            <input type="radio" id="dismiss" name="reported_time" value="0" checked>
            <label for="dismiss">Ignore Report</label><br>
            <input type="radio" id="week" name="reported_time" value="7">
            <label for="week">Ban 1 Week</label><br>
            <input type="radio" id="forever" name="reported_time" value="10000">
            <label for="forever">Ban Forever</label>

            <p>Please input an action for the <strong>reporter</strong>:</p>
            <input type="radio" id="dismiss" name="reporter_time" value="0" checked>
            <label for="dismiss">Ignore Report</label><br>
            <input type="radio" id="week" name="reporter_time" value="7">
            <label for="week">Ban 1 Week</label><br>
            <input type="radio" id="forever" name="reporter_time" value="10000">
            <label for="forever">Ban Forever</label><br><br>
            <a id="adminSubmit" href="#">Resolve</a>
        </form>
    </div>

    <div style="height:10px; padding-top: 15px; text-align: left;">
        <div id="box">
            <br>
            <h1 style="font-size:20px; color:black; margin:10px;">Reported User: {{reported}}</h1>
            <h1 style="font-size:20px; color:black; margin:10px;">Reporter: {{reportee}}</h1>
            <h1 style="font-size:20px; color:black; margin:10px;">Reason: {{reason}}</h1>
            <br>
            <div style="text-align: center">
                <a href="/admin">Back to all reports</a>
            </div>
            <br>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div id="box">
            <br>
            <h1 style="font-size:20px; color:black; margin:10px;">Chat History:</h1>
            <ul style="list-style-type:none;">
            {% for msg in hist %}
                <li>
                <h1 style="font-size:20px; color:black; margin:10px;"><span style="font-size:10px; color:grey; margin:10x;">{{msg[2]}}</span>          {{msg[0]}}: {{msg[1]}}</h1>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        'use strict';
        
        function handleResponse(response) {
            $('#admin').html(response);
        }

        let request = null

        function resolveReport() {
            let time1 = $("input[name='reported_time'][type='radio']:checked").val();
            let time2 = $("input[name='reporter_time'][type='radio']:checked").val();
            let url = '/admin?reported={{reported}}&time1=' + time1 + '&reporter={{reportee}}&time2=' + time2 + '&chat_id={{report_id}}';
            if (request != null)
                request.abort();
            
            request = $.ajax({
                type: 'GET',
                url: url,
                success: handleResponse
            });
        }
        function setup() {
            $('#adminSubmit').click(resolveReport);
        }

        $('document').ready(setup);
    </script>

</body>
</html>