/* Chat CSS */

/* Define the top nav bar */
.myNav {
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
  
  /* Remove bullets, margin, and padding */
  .myNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
  }
  
  .myNav li {
    float: right;
  }
  
  /* Styling for links */
  .myNav li a {
    display: block;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Styling for logo */
  .myNav li b {
    display: block;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .myNav li a:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .image{
    position:absolute;
    bottom: 10vh;
    width: 100%; 
    object-fit: contain;
  }
  
  .image2{
    position:absolute;
    bottom: 10vh;
    width: 100%; 
    object-fit: contain;
    transform: scaleX(-1);
  }
  
  /* The side nav bar */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 12vw;
    background-color: orange;
    position: fixed;
    height: 100%;
    overflow: auto;
    left:0px;
    top: 55px;
    font-size: 1.5vw;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current tab */
  .sidebar a.active {
    background-color: #FFD580;
    color: black;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .rightsidebar {
    margin: 0;
    padding: 0;
    width: 12vw;
    background-color: orange;
    position: fixed;
    height: 100%;
    overflow: auto;
    right:0px;
    top: 55px;
  }
  
  /* FOR THE CHAT */
  
  #container{
    width:76vw;
    height:94vh;
    background:#eff3f7;
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
  }
  aside{
    width:15vw;
    height:94vh;
    background-color:#dcdfe2;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }

  aside ul{
    padding-top: 1vh;
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
  }
  aside li{
    background-color:#ffffff;
    border: solid #000000;
    border-width: 2px;
  }
  aside li:hover{
    background-color:#eff3f7;
  }

  aside li div{
    padding:3.5vh 0;
    display:inline-block;
    vertical-align:top;
  }
  
  aside li h2{
    font-size:1vw;
    color:rgb(0, 0, 0);
    font-weight:bold;
    margin:0;
  }
  
  main{
    width:61vw;
    height:94vh;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }

  main header{
    height:10vh;
  }

  main header div{
    margin-left:10vw;
    margin-right:10vw;
  }
  
  #chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    height:70vh;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
  }
  #chat li{
    padding:10px 30px;
  }
  #chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
  }
  #chat h3{
    color:#bbb;
  }
  #chat .entete{
    margin-bottom:5px;
  }
  #chat .message{
    padding:10px;
    color:#fff;
    line-height:25px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:10px;
    overflow-wrap: break-word; 
  }
  #chat .me{
    text-align:right;
  }
  #chat .you{
    text-align:left;
  }
  #chat .you .message{
    background-color:#58b666;
  }
  #chat .me .message{
    background-color:#6fbced;
  }
  
  main footer{
    height:10vh;
    padding:20px 30px 10px 20px;
    display: flex;
  }
  main footer textarea{
    resize:none;
    border:none;
    display:inline-block;
    width:95%;
    height:5vh;
    border-radius:4px;
    padding:10px;
    font-size:13px;
    margin-bottom:13px;
  }
  main footer textarea::placeholder{
    color:#ddd;
  }
  main footer a{
    font-weight:bold;
    color:#6fbced;
    display:inline-block;
    width:5%;
    margin-top:1vh;
    padding-left: 1vw;
  }