/* Page CSS */

/* Define the top nav bar */
.myNav {
  background-color: white;
  overflow: hidden;
}

/* Remove bullets, margin, and padding */
.myNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;    
  width: 100%;
}

.myNav li {
  float: right;
}

/* Styling for links */
.myNav li a {
  display: block;
  color: black;
  font-size: 24px;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Styling for logo */
.myNav li b {
  display: block;
  color: black;
  font-size: 24px;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.myNav li a:hover {
  background-color: #4CAF50;
  color: white;
}

.image{
  position:fixed;
  right:1.5vw;
  bottom: 2.5vh;
  height: auto;
  width: auto;
  max-width: 20vw;
  max-height: 20vh;
}

.image2{
  position:fixed;
  left:1.5vw;
  bottom: 2.5vh;
  height: auto;
  width: auto;
  max-width: 20vw;
  max-height: 20vh;
  transform: scaleX(-1);
}

/* The side nav bar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 12vw;
  background-color: orange;
  position: fixed;
  height: 100%;
  overflow: auto;
  left:0px;
  top: 55px;
  font-size: 1.5vw;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current tab */
.sidebar a.active {
  background-color: #FFD580;
  color: black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.rightsidebar {
  margin: 0;
  padding: 0;
  width: 12vw;
  background-color: orange;
  position: fixed;
  height: 100%;
  overflow: auto;
  right:0px;
  top: 55px;
}

.form {
  background-color:rgb(243, 237, 237);
  margin: 100px auto;
  padding: 0px;
  width: 70%;
  min-width: 300px;
}
